.flex-box-container-1, .flex-box-container-2, .flex-box-rps, .flex-box-pick-color, .flex-blackjack-row-1, 
.flex-blackjack-row-2, 
.flex-blackjack-row-3, 
.flex-ajax-row-1 {
  display: flex;
  padding: 10px;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  border: 1px solid black;
}

.flex-box-container-1 div {
  display: flex;
  align-items: center;
}

.flex-box-container-2 div {
  display: flex;
  padding: 10px;
}

.cat-image {
  box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.7);
}

.flex-box-rps div {
  display: flex;
  justify-content: space-around;
  flex: 1;
}

.flex-box-rps img:hover{
  box-shadow: 0px 10px 50px rgba(37, 50, 233, 1);
}

.flex-blackjack-row-1, .flex-blackjack-row-2 {
  background: url('https://ie2-gfebf.cdnppb.net/mexchangeblackjack/turbo/17/assets/gameView/tableBackground.png?v17') center;
  color: #ffffff;
}

.flex-blackjack-row-1 div {
  border: 1px solid black;
  padding: 10px;
  flex: 1;
  text-align: center;
  height: 350px;
}

.flex-blackjack-row-1 img {
  width: 25%;
  padding: 10px;
}

.flex-blackjack-row-2 button {
  border: 1px solid black;
  padding: 10px;
}

.flex-blackjack-row-2 div {
  border: 1px solid black;
  padding: 10px;
}

table, th, td {
  padding: 5px;
  border: 1px solid black;
}

.container-1, .container-2, .container-3, .container-4, .container-5, .container-6 {
  border: 1px solid black;
  width: 75%;
  margin: 0 auto;
  text-align: center;
}

.flex-ajax-row-1 img {
  display: flex;
  align-items: center;
  padding: 30px;
}

/* Navbar */
ul.nav li {
    padding-left: 12px;
    text-transform: uppercase;
}

.control-label {
    font-weight: bold;
    padding-top: 5px;
}

.login {
    margin-top: 15px;
}

.form_row {
    margin-top:50px;
    background-color: rgba(10,10,10,0.4);
    padding-bottom: 30px;
    border-radius: 10px;
}

.btn-lg {
	width: 100px;
}

/* Navbar */
ul.nav li {
    padding-left: 12px;
    text-transform: uppercase;
}

.control-label {
    font-weight: bold;
    padding-top: 5px;
}

.login {
    margin-top: 15px;
}

.form_row {
    margin-top:50px;
    background-color: rgba(10,10,10,0.4);
    padding-bottom: 30px;
    border-radius: 10px;
}

.btn-lg {
	width: 100px;
}

/* body and tbody */
body {
    background-image: url('http://www.africansunhotels.com/data/media/00000051/blackjack.jpg');
    background-size: cover;
    color: white;
    }

tbody {
    background-color: rgba(10,10,10,0.4);
}